{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">main page</a>
            <a href="{% url 'create_recipe' %}">create a recipe</a>
        </nav>
    </header>
    <main>
       <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
       </form>

    </main>
    <footer>
        Made with love by Scrumptious Recipes
    </footer>

</body>
{% endblock content %}
