{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}

    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">main page</a>
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
            <a href="{% url 'show_recipe' recipe_object.id %}">Back</a>
        </nav>
    </header>
    <main>
        <h1 class="title center">Edit this recipe</h1>
       <form method="post">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <button>Save</button>
       </form>

    </main>

    {% endblock content %}
