{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">main page</a>
        {% if user.is_authenticated %}
          <a href="{% url 'create_recipe' %}">create a recipe</a>
          <a href="{% url 'my_recipe_list' %}">my recipe list</a>
        {% endif %}


        {% if user.is_authenticated %}
          Hello, {{user.username}}
          <a href="{% url 'user_logout' %}">logout</a>
        {% else %}
        <a href="{% url 'signup' %}">sign up</a>
        <a href="{% url 'user_login' %}">user login</a>
        {% endif %}

    </nav>
  </header>
  <main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="recipe-grid">
        {% for recipe in recipe_list %}
      <div>
        <h3>
          <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
          <p>{{ recipe.created_on|date:"M d, Y"}}</p>
        </h3>
        <img src="{{ recipe.picture|default:'https://via.placeholder.com/150' }}">
        <div>4.3 stars</div>
      </div>
      {% empty %}
        <p>There are no recipes.</p>
      {% endfor %}
    </div>
  </main>

{% endblock content %}
