{% extends 'base.html' %}

{% block title %}
Login! - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">main page</a>
    </nav>
</header>
<main>
    {% if user.is_authenticated %}
    Hello, {{ user.username }}
    <a href="{% url 'user_logout' %}">logout</a>
    {% else %}
    <a href="{% url 'signup' %}">sign up</a>
    <a href="{% url 'user_login' %}">login</a>
    {% endif %}
</main>
{% endblock content %}
